<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OOP Concept in javascript</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/article.css" />
  </head>
  <body>
    {{! header }}
    <div class="body__default">
      <header class="container">
        <div class="header__left">
          <div class="header__logo">
            <h2>DEV</h2>
          </div>
          <div class="header__search">
            <span class="header__search__icon">
              <input type="search" placeholder="search..." />
              <img src="/assets/icons/Search.png" alt="search_icon" />
            </span>
          </div>
        </div>
        <div class="header__right">
          <button>Create Post</button>
          <img src="/assets/icons/Notification.png" alt="notification" />
          <img
            class="header__profile__pic"
            src="/media/Profile Pictures/001.jpg"
            alt="profile_pic"
          />
        </div>
      </header>
    </div>
    {{! end header }}

    {{! section }}

    <section class="content container">
      <div class="content__reaction">
        <div class="content__reaction__icon__count">
          <img src="/assets/icons/Heart.png" alt="heart" />
          <h3 class="content__reaction__count">3</h3>
        </div>
        <div class="content__reaction__icon__count">
          <img src="/assets/icons/Bookmark.png" alt="bookmark" />
          <h3 class="content__reaction__count">3</h3>
        </div>
        <div class="content__reaction__icon__count">
          <img src="/assets/icons/More Circle.png" alt="more" />
        </div>
      </div>
      <div class="content__post">
        <div class="content__post__cover">
          <img src="/media/Blog pictures/ideas.jpg" alt="cover" />
        </div>
        <div class="content__container">
          <div class="content__post__profile">
            <img
              src="/media/Profile Pictures/009.jpg"
              class="content__post__profile__picture"
            />
            <div class="content__post__profile__name__and__time__posted">
              <h2>Tracy Staurtman</h2>
              <p>Posted on jan 12</p>
            </div>
          </div>
          <div class="content__title">
            <h1>OOPs Concept in TypeScript. What is the 4, Basics of Object
              Oriented Programming Fundamentals and their examples</h1>
            <h2>#programming #typescript #javascript</h2>
          </div>
          <div class="content__post">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Accusantium, amet, voluptatem cumque ducimus consectetur neque
              iusto, repellat exercitationem ad nemo quos eligendi nulla
              assumenda impedit atque? Maiores culpa facilis delectus ab dolorum
              repellendus, deleniti inventore doloremque nemo ut. Nostrum esse
              at unde vel animi illo tempora non doloribus natus. Voluptas eaque
              sequi obcaecati cupiditate delectus soluta sunt itaque dolores
              necessitatibus voluptate enim, molestiae iusto possimus ipsum
              repellat, at ab saepe magni quas error? Non dolorum ab sequi
              maiores expedita ex quae eos, reprehenderit magnam quas, commodi
              laboriosam sit mollitia similique deleniti reiciendis fuga iusto
              alias repellat? Et exercitationem hic, necessitatibus quasi fugiat
              aliquam aspernatur explicabo omnis id architecto repudiandae
              consequatur aliquid similique obcaecati, mollitia adipisci, facere
              minima velit excepturi veniam itaque eaque non. Explicabo
              consectetur ea et quas fugit quis voluptates, omnis nemo rerum
              incidunt ipsam nobis, non similique? Repudiandae autem unde illum
              velit deserunt nam? Veniam mollitia quasi eligendi quam maxime,
              iusto vel, cum a magni reprehenderit recusandae blanditiis
              doloribus dolores architecto, nesciunt non ex quam perspiciatis?
              Ullam obcaecati quibusdam soluta labore accusamus rem quidem
              debitis accusantium, esse eos est ab vel odit ratione ipsa
              .</p>
          </div>
        </div>
      </div>
      <div class="content__author">
        <div class="content__author__profile">
          <div class="author__picture__username">
            <img
              src="/media/Profile Pictures/009.jpg"
              class="content__post__profile__picture"
            />
            <h1>Tracy Staurtman</h1>
          </div>
          <button class="follow__author">Follow</button>
          <div class="content__author__date__joined">
            <h2>Joined</h2>
            <h3>Jun 2, 2020</h3>
          </div>
        </div>

        <div class="content__author__other">
          <h1>More from <span id="username">Tracy Staurtman</span></h1>
          <div class="content__author__other__post">
            <h1>TypeScript Types for AWS Lambda</h1>
            <h3>#typescript #aws #serverless</h3>
          </div>

          <div class="content__author__other__post">
            <h1>TypeScript Types for AWS Lambda</h1>
            <h3>#typescript #aws #serverless</h3>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>