<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/css/registration.css" />
    <title>DEV Community</title>
  </head>
  <body>
    <div class="body__default">
      <header class="container">
        <div class="header__left">
          <div class="header__logo">
            <h2>DEV</h2>
          </div>
          <div class="header__search">
            <span class="header__search__icon">
              <input type="search" placeholder="search..." />
              <img src="/assets/icons/Search.png" alt="search_icon" />
            </span>
          </div>
        </div>
      </header>
    </div>

    <section class="container form">
        <div class="form__heading">
            <h1>Register user</h1>
        </div>
        <form method="POST" action="/auth/v1/register" enctype="multipart/form-data">
            <input type="text" name="username" placeholder="username e.g harry_writer"/>
            <input type="text" name="name" placeholder="name e.g harrison austin"/>
            <input type="email" name="email" placeholder="email e.g harrison@gmail.com"/>
            <input type="password" name="password" placeholder="your password"/>
            <input type="password" name="confirmPassword" placeholder="confirm your password"/>
            <input type="text" name="trends" placeholder="trends e.g backend tech code_newbie"/>
            <label for="profile"> profile picture
            <input type="file" name="profile"  id="profilePicture" class="form__picture"/>
            </label>
            <button>Register</button>
        </form>
    </section>
    

    </body>
</html>
